.pills > ul {
  display: flex;
  flex-direction: row;
}

.pills > ul > li {
  background-color: var(--primary-color);
  color: #ffffff;
  padding: 5px 15px;
  margin: 0 1rem;
  border-radius: 20px;
  text-transform: uppercase;
  transition: .5s ease-in-out;
}

.pills > ul > li:hover {
  transform: scale(1.2);
  cursor: default;
}

.pills > ul > li:first-child {
  margin-left: 0;
}


@media only screen and (max-width: 767px) {

  .pills > ul {
    justify-content: center;
  }
  
  .pills > ul > li {
  font-size: .8em;
}


}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

}